#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  color:rgb(38, 42, 153);
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #00c3ffaa);
}

